* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fefefe;
  color: #333;
}

/* En-tête */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #2E8B57;
 /* box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
}

.logo {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #EEE8AA

}


.diplomes {
  display: flex;
  justify-content: center;    /* centre horizontalement */
  align-items: center;        /* centre verticalement */
  /*min-height: 80vh;            occupe une grande partie de la hauteur */
  text-align: justify;
  background-color: #e8f5e9;  /* vert très clair (fond hors du cadre) */
  padding: 50px 0;            /* espace autour du cadre */
}

.cadre {
  border: none;               /* enlève la bordure colorée */
  border-radius: 15px;        /* coins arrondis */
  padding: 30px 50px;         /* espace intérieur du cadre */
  background-color: #ffffff;  /* fond blanc du cadre */
  max-width: 900px;           /* limite la largeur */
  line-height: 1.6;           /* lisibilité */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* ombre douce autour du cadre */
}

.diplomes h1 {
  margin-bottom: 30px;
  color: #2E8B57;            
   text-align: center;
}

.diplomes p {
  margin-bottom: 25px;        /* espace entre les paragraphes */
  line-height: 1.5;
}

/* Pied de page */
footer {
  text-align: center;
  padding: 60px ;
  background: #2E8B57;
  color: white;
  font-size: 14px;
}
footer p:first-child {
  margin-bottom: 10px;
}
footer p:middle-child {
  margin-bottom: 10px;
}