* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fefefe;
  color: #333;
}

/* En-tête */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #CD5C5C;
 /* box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
}

.logo {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #EEE8AA;

}

.diplomes {
  display: flex;
  justify-content: center;     /* centre horizontalement */
  align-items: center;         /* centre verticalement */
 /* min-height: 100vh;            prend toute la hauteur visible */
  text-align: justify;
  background-color: #ffecec;   /* rouge pastel très léger */
  padding: 50px 0;             /* espace interne haut/bas (évite de coller au header/footer) */
  /*margin: 40px 0;               espace externe autour du bloc */
}

.cadre {
  border: none;                /* pas de bordure */
  border-radius: 15px;         /* coins arrondis */
  padding: 30px 50px;          /* espace intérieur du cadre */
  background-color: #ffffff;   /* fond blanc du cadre */
  max-width: 900px;            /* largeur maximale du cadre */
  line-height: 1.6;            /* lisibilité */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* ombre douce */
}

.diplomes h1 {
  margin-bottom: 30px;
  color: #CD5C5C;              /* rouge doux */
 
  text-align: center;
}

.diplomes p {
  margin-bottom: 25px;
  line-height: 1.5;
}

/* Pied de page */
footer {
  text-align: center;
  padding: 60px ;
  background: #CD5C5C;
  color: white;
  font-size: 14px;
}
footer p:first-child {
  margin-bottom: 10px;
}
footer p:middle-child {
  margin-bottom: 10px;
}