* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fefefe;
  color: #333;
}

/* En-tête */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #9966CC;
 /* box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
}

.logo {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #EEE8AA;

}

.ia-menaces-container {
  background-color: #f3e6ff; /* violet très pâle autour du cadre */
  padding: 50px 0;           /* espace autour du cadre */
}

.ia-menaces {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f5f5; /* cadre gris clair */
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  color: #333;
  text-align: justify;
}

.ia-menaces h1 {
  text-align: center;
  color: #9966CC;
  margin-bottom: 25px;
  font-size: 1.8em;
}

.ia-menaces p {
  margin-bottom: 15px;
  font-size: 1.1em;
}
.schema {
  display: flex;
  justify-content: center; /* centre l'image horizontalement */
  margin-top: 20px;        /* espace au-dessus de l'image */
  margin-bottom: 30px; 
}

.schema img {
  max-width: 100%;         /* l'image s'adapte au cadre */
  height: auto;            /* conserve les proportions */
  border-radius: 10px;     /* coins arrondis */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* ombre douce */
}

/* Pied de page */
footer {
  text-align: center;
  padding: 60px ;
  background: #9966CC;
  color: white;
  font-size: 14px;
}
footer p:first-child {
  margin-bottom: 10px;
}
footer p:middle-child {
  margin-bottom: 10px;
}